<h1>Listing of your "girlfriends"</h1>
  <a href="/my_girlfriends/new" class="button expand">Get a new "girlfriend"</a>
  <br> 
  
  <% @my_girlfriends.each do |my_girlfriend| %>
    <br> 
    <div class="large-4 columns">
      <img src='http://www.onlinecathy.com/wp-content/uploads/003-stupid-blonde.jpg'>
    </div>
    <p>
      <strong>Name:</strong>
      <%= my_girlfriend.name %>
    </p>

    <p>
      <strong>Hometown:</strong>
      <%= my_girlfriend.hometown %>
    </p>

    <p>
      <strong>Favorite food:</strong>
      <%= my_girlfriend.favorite_food %>
    </p>

    <p>
      <strong>Where we met:</strong>
      <%= my_girlfriend.where_we_met %>
    </p>

    <p>
      <strong>What turns me on:</strong>
      <%= my_girlfriend.what_turns_me_on %>
    </p>

    <p>
      <strong>Still my boo:</strong>
      <%= my_girlfriend.is_current_girlfriend %>
    </p>

    <%= link_to 'Edit', edit_my_girlfriend_path(my_girlfriend) %> |
    <%= link_to 'Back', my_girlfriends_path %>
    <br> 
  <% end %>




